body {
    background-color: aliceblue;
    font-family: sans-serif;
}
H1 {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#tweet-container {
    position: absolute;
    left: 20%;
    top:20%;
    width: 60%;
    background-color: cyan;
}

#subtweet-container {
    position: absolute;
    left: 20%;
    top:20%;
    width: 60%;
    background-color: cyan;
}

div.tweet-row {
    border: 1px solid #aaa;
    width:100%;
}

span.user-button {
    font-weight: bold;
    color: crimson;
    cursor: pointer;
}

span.user-button:hover {
    text-decoration: underline;
}